<style>

/********** Base styles **********/
* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  color: red;
  font-size: 50px;
}

.row {
  width: 100%;
}

p {
  background-color: #E0FFFF;
  border: 1px solid black;
  height: auto;
  margin-right: 10px;
  padding: 40px 10px 5px 10px;
  overflow: hidden;
}

#container {
  position: relative;
}

#p1 {
  background-color: #FF8C00;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 15px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family: Helvetica, cursive, sans-serif;
}

#p2 {
  background-color:#3CB371 ;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 15px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family: Helvetica, cursive, sans-serif;
}

#p3 {
  background-color: #FA8072;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 15px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family: Helvetica, cursive, sans-serif;

}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Small devices only **********/
@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}

</style>